# ErrorDocument 404 & 403 "Page not found" ---
ErrorDocument 403 /busfair-dashboard/not-found.php
ErrorDocument 404 /busfair-dashboard/not-found.php

RewriteEngine on

# SSL certificate ---
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Disable Directory Browsing ---
Options All -Indexes

# Configure index page ---
DirectoryIndex admin-login.php

# Script Pages ---
RewriteRule ^script/admin_login_script$ bkend-calls/admin-login-checkUser.php

RewriteRule ^script/form-data-insert-places$ bkend-calls/places-form-data-insert.php
RewriteRule ^script/form-data-update-places$ bkend-calls/places-form-data-update.php

RewriteRule ^script/form-data-insert-routes$ bkend-calls/routes-form-data-insert.php
RewriteRule ^script/form-data-update-routes$ bkend-calls/routes-form-data-update.php

RewriteRule ^script/form-data-insert-directions$ bkend-calls/directions-form-data-insert.php
RewriteRule ^script/form-data-update-directions$ bkend-calls/directions-form-data-update.php

# Content Pages ---
RewriteRule ^login$ admin-login.php
RewriteRule ^admin/logout$ bkend-calls/admin-logout.php
RewriteRule ^admin/dashboard$ admin-dashboard.php?pageId=dashboard

RewriteRule ^admin/see-place-list$ admin-dashboard.php?pageId=place-list-see
RewriteRule ^admin/add-new-place$ admin-dashboard.php?pageId=place-list-add
RewriteRule ^admin/update-place-list$ admin-dashboard.php?pageId=place-list-update

RewriteRule ^admin/see-route-list$ admin-dashboard.php?pageId=route-list-see
RewriteRule ^admin/add-new-route$ admin-dashboard.php?pageId=route-list-add
RewriteRule ^admin/update-route-list$ admin-dashboard.php?pageId=route-list-update

RewriteRule ^admin/see-direction-list$ admin-dashboard.php?pageId=direction-list-see
RewriteRule ^admin/add-new-direction$ admin-dashboard.php?pageId=direction-list-add
RewriteRule ^admin/update-direction-list$ admin-dashboard.php?pageId=direction-list-update

RewriteRule ^admin/settings$ admin-dashboard.php?pageId=api-settings
RewriteRule ^admin/api-requests$ admin-dashboard.php?pageId=api-requests
RewriteRule ^admin/live-api$ admin-dashboard.php?pageId=api-live