RewriteEngine On

# SSL certificate ---
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Disable Directory Browsing ---
Options All -Indexes

# Script Pages ---
RewriteRule ^getplaces$ getplacedata.php
RewriteRule ^getbuses$ getbusdata.php
RewriteRule ^getroutes$ getroutedata.php
RewriteRule ^getdirections$ getdirectiondata.php
